body {
    background-color: rgb(250, 235, 242);
    margin: 0;
}
ul.pagehat {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(249, 190, 243);
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    align-items: center;
}
li.pagehat {
flex: 1;
}
li.pagehat a{
    display: block;
    color: rgb(0,0,0);
    text-align: center;
    padding: 25px;
    text-decoration: none;
}
li.pagehat:not(:first-child) a:hover {
    background-color: rgb(251, 121, 238);
}
li.pagehat:first-child a{
    padding: 5px;
}

img.logo{
    padding: 0;
    height: 50px;
    width:auto;
}
#button{
    background-color: rgb(255,255,255);
    padding: 10px;
    border-style: hidden;
    border-radius: 10px;
}
#button:hover{
    background-color: rgb(207, 207, 207);
}
main{
    margin-top: 70px;
}
footer{
    background-color: rgb(249, 190, 243); 
}