body {
    background-color: rgb(250, 235, 242);
    margin: 0;
}
a, a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
   header {
    box-sizing: border-box;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     background-color: rgb(249, 190, 243);
     padding: 20px 10px;
   }

   header ul {
     display: flex;
     align-items: center;
     width: 100%; 
   }

   header li {
     flex: 1;
     color: rgb(0, 0, 0);
     padding: 12px;
     list-style-type: none;
     font-size: 18px;
     border-radius: 4px;
     text-align: center; 
   }
   header li:hover:not(:first-child) {
     background-color: rgb(145, 14, 132);
     color: rgb(0, 0, 0);
       }

   header li.active:not(:first-child) {
     background-color: rgb(145, 14, 132);
       }
main{
    margin-top: 24px;
}
.carousel {
    position: relative;
    margin: 0 auto; 
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
}

.carousel img {
    display: block;
    width: 100%; 
    height: auto; 
}

.arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

.prev {
    left: 7px;
}

.next {
    right: 7px;
}

.gallery {
    width: 100%;
    overflow: hidden;
}

.gallery ul {
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}
.gallery li {
    display: inline-block;
}
.variant{
    display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}
footer{
    background-color: rgb(249, 190, 243); 
}